* {
    margin: 0;
    padding: 0;
}
#ratingbar {
  display: flex;
  width: 400px;
  height: 150px;
  margin: auto auto auto 480px;
  padding-top: 170px;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#message, #score {
  width: 400px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
#stars_bottom {
  width: 400px;
  height: 80px;
  background: url(star_2_80px.png) repeat-x;
}
#stars_mask {
  position: absolute;
  width: 0;
  height: 80px;
  background: url(star_1_80px.png) repeat-x;
  z-index: 2;
  align-self: flex-start;
}
#stars_mask ul {
  position: absolute;
  width: 400px;
  height: 80px;
  z-index: 3;
}
.star {
  float: left;
  width: 80px;
  height: 80px;
  list-style-type: none;
  cursor: pointer;
}